{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/cards-icon.png' %}" type="image/png">
</head>
<body>
    <header>
        <h1><a href="/">Durak Card Game</a></h1>

        <div class="header-links">
            <a class="green-link" href="">Sign up</a>
            <a class="green-link" href="">Sign in</a>
        </div>
    </header>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <h3>Rules: </h3>
        <a class="green-link" target="_blank" href="https://pl.wikipedia.org/wiki/Dure%C5%84">Dureń (wikipedia pl)</a>
        <a class="green-link" target="_blank" href="https://en.wikipedia.org/wiki/Durak">Durak (wikipedia en)</a>
    </footer>

    {% block script %}{% endblock %}
</body>
</html>