html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
h1 a {
    color: #fff;
    text-decoration: none;
}
a.green-link {
    color: rgb(0, 161, 0);
    text-decoration: none;
    border: 2px solid rgb(0, 161, 0);
    padding: 4px 15px;
    border-radius: 5px;
    font-size: 16px;
}
.submit-button {
    background-color: #ce8d38;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
}
.cancel-button {
    background-color: #ce3838;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    color: #fff;
}
body {
    background-image: url('/static/images/wooden-textured-background.jpg');
    background-position: center;
    flex-direction: column;
}
header, footer {
    display: flex;
    padding: 10px 160px;
    background-color: #242424;
    flex: 0 0 auto;
    align-items: baseline;
}
header {
    justify-content: space-between;
}
footer * {
    margin-right: 15px;
}
.wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.home {
    display: flex;
    justify-content: center;
}
.start-game-card {
    background-color: rgba(32, 32, 32, 0.8);
    padding: 35px;
    padding-top: 0;
    border-radius: 10px;
    margin-top: 25px;
}
#start-game-form-inputs {
    display: none;
}
.players-count-visual {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.players-group {
    border: 2px #fff solid;
    border-radius: 20px;
    padding: 30px 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease 0s all;
}
.players-group img {
    width: 50px;
    height: 50px;
}
.players-group:hover {
    background-color: rgba(35, 63, 24, 0.8);
}
.players-group.selected {
    background-color: rgba(35, 63, 24, 0.8);
    border-color: rgba(103, 173, 75, 0.8);
}
.start-game-card .submit-button {
    margin-top: 20px;
}
.name-input {
    margin-top: 10px;
}
.name-input input {
    width: 99%;
    padding: 5px 3px;
    font-size: 14px;
}

.waiting-room {
    display: flex;
    justify-content: center;
}
.waiting-room-card {
    background-color: rgba(32, 32, 32, 0.8);
    padding: 35px;
    border-radius: 10px;
    margin-top: 25px;
    text-align: center;
}
/* taken from css-loaders.com */
.loader {
    display: inline-flex;
    gap: 10px;
  }
  .loader:before,
  .loader:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
      #fff;
    animation: l5 3s infinite;
  }
  @keyframes l5 {
    0%,11%   {background-position:35% 35%}
    14%,36%  {background-position:65% 35%}
    38%,61%  {background-position:65% 65%}
    64%,86%  {background-position:35% 65%}
    88%,100% {background-position:35% 35%}
  }
/* ===================== */

.game-table {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}
.player-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-hand {
    display: flex;
}
.player-wrapper .player-name {
    position: absolute;
}
 /* top */
.game-table #player-0-wrapper {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}
.game-table #player-0-wrapper .player-name {
    top: 110px;
}
 /* left */
.game-table #player-1-wrapper {
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    flex-direction: row;
}
.game-table #player-1-wrapper .player-name {
    left: 110px;
}
 /* right */
.game-table #player-2-wrapper {
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
    flex-direction: row;
}
.game-table #player-2-wrapper .player-name {
    right: 50px;
}
 /* bottom */
.game-table #player-me-wrapper {
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}
.game-table #player-me-wrapper .player-name {
    bottom: 5px;
}

#deck {
    position: absolute;
    right: 16%;
}
img.play-card {
    width: 80px;
    z-index: 1;
}
.game-table #player-me-wrapper img.play-card {
    cursor: pointer;
}
img.play-card.selected-card {
    z-index: 2;
    border: 3px orange dashed;
}

#play-zone {
    width: 65%;
    height: 45%;
    background-color: rgb(126, 126, 126, 0.3);
    margin: auto;
    border: #242424 2px dashed;
}
#play-zone.highlighted {
    background-color: rgba(172, 169, 169, 0.3);
    border: #cdb833 2px dashed;
}